name: Deploy Next.js to VPS

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Docker Login
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DH_USER }}
          password: ${{ secrets.DH_PASS }}

      - name: Build & Push Docker Image
        run: |
          docker build -t fadlymuhammad/storewell-fe:latest .
          docker push fadlymuhammad/storewell-fe:latest

  deploy:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - uses: appleboy/ssh-action@v1.0.0
        with:
          host: ${{ secrets.VPS_HOST }}
          username: ${{ secrets.VPS_USER }}
          key: ${{ secrets.VPS_SSH_KEY }}
          script: |
            cd /root/nextjs-folder
            git pull
            docker compose pull
            docker compose up -d
